[Desktop Entry]
Type=Application
Name=Cubox
Comment=Launcher Minecraft hors-ligne (fork de HMCL)
Exec=cubox
Icon=cubox
Terminal=false
Categories=Game;
StartupWMClass=org-jackhuang-hmcl-Main
